<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usb.tiledebug">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:label="USB Debug Tile"
        android:icon="@drawable/ic_usb">

        <service
            android:name=".UsbDebuggingTileService"
            android:label="USB Debugging"
            android:icon="@drawable/ic_usb"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
